*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.switch{    
    background-color: #fafafa;
    position: absolute;
    top: 15px;
    right: 20px;
    
}


body.darkmode {
	background: #292C35;
    color: white;
    
}

body.darkmode .basket{
    background-color: rgba(31, 31, 31, 0.75);
    color: rgb(255, 255, 255);
}
body.darkmode .name-product{
    color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    
}

body.darkmode .price{    
    color: white;
    background-image: linear-gradient(to right, #ff3da8 , #f63b3b);
    
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 4px;
	position: relative;
	height: 20px;
	width: 42px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 20px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(22px);
}


.bi-moon {
	color: #ffffff;
    font-size: 10px;
}

.bi-sun {
	color: #f39c12;
    font-size: 12px;
}

#nav{
    display: block;   
    text-align: center;
    margin-top:  30px;
    font-size: 40px;
}
h1 #nav {
   display: inline-block; 
   
}
#shopping {
    display: block;
    text-align: center;
    
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu p{
    display: block;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-style: 5px ;
    
}

#list-drink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    
   
}
.item{
    margin-bottom: 100px;
    padding: 10px;
    font-size: 30px;
}

img{    
    border-radius: 30px !important;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
.name-product {
    display: block;
    font-size: 18px;
    color: black;
    position: absolute;
    bottom: 6em;    
    width: 12.9em;
    height: 2em;
    text-align: center;
    padding: 4px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;

    
}
.price{
    border-width: 0;
    position: absolute;
    display: block;
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 40px ;
    background-image: linear-gradient(to right, #34d399 , #3b82f6);
    cursor: pointer;
    justify-self: end;
    bottom: 2em;
    
}
.basket{
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: rgba(228, 228, 228, 0.75);
    color: rgb(66, 66, 66);
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
}

.basket:hover {
    background: rgb(207, 60, 134);
  }

.basket .badge {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 3px 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(230, 3, 3);
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
@media only screen and (max-width: 600px) {

    #nav{
       
        font-size: 30px;
    }
    h1 #nav {
        display: block; 
        padding: 5rem;
    }
   

    .menu p{
        margin-bottom: 30px;
        font-size: 18px;
        font-weight:500;
       
        
    }
    .item{
        margin-bottom: 100px;
        padding: 10px;
        font-size: 30px;
    }
    
    img{    
       
        width: 160px;
        height: 198px;
       
    }
    .container {
        height: 18rem;
        
      }
    

    .name-product {
        bottom: 7.32em;  
        font-size: 15px;
        font-weight: 200;
        width: 10em;
        height: 2em;
        border-bottom-right-radius: 1.69rem;
        border-bottom-left-radius: 1.69rem;

    }
    .price{
        bottom: 2.8em;
        font-size: 15px;
        
    }
    .basket{
        bottom: 3%;
        right: 7%;
        font-size: 28px;
        width: 50px;
        height: 50px;
        padding-top: 0.5rem;
    }
    .basket .badge {
        height: 25px;
        width: 25px;
        font-size: 13px;

    }




}

