*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.switch{    
    background-color: #fafafa;
    position: absolute;
    top: 10px;
    right: 15px;
    
}


body.darkmode {
	background: #292C35;
    color: white;
    
}
body.darkmode .name-product{
    color: white;
    
}

body.darkmode .price{    
    color: white;
    background-image: linear-gradient(to right, #ff3da8 , #f63b3b);
    
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 4px;
	position: relative;
	height: 20px;
	width: 42px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 20px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(22px);
}


.bi-moon {
	color: #ffffff;
}

.bi-sun {
	color: #f39c12;
}

#nav{
    display: block;   
    text-align: center;
    margin-top:  30px;
    font-size: 40px;
}
h1 #nav {
   display: inline-block; 
   
}
#shopping {
    display: block;
    text-align: center;
    margin-top: 30px;
    
}
.menu p{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-style: 5px ;
    
}

#list-drink{
    position: relative;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.item{
    margin-bottom: 100px;
    padding: 10px;
    font-size: 30px;
}

img{    
    border-radius: 30px !important;
    width: 250px;
    height: 290px;
    object-fit: cover;
}

.container {
    position: relative;
    text-align: center;
    border-radius: 30px !important;
    
  }
.name-product {
    position: absolute;
    bottom: 70px;
    left: 20px;
    font-size: 18px;
    color: black;
    padding: 2px 6px;
    
}
.price{
    border-width: 0;
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 40px ;
    background-image: linear-gradient(to right, #34d399 , #3b82f6);
    cursor: pointer;
    
}

@media only screen and (max-width: 414px) {

    #nav{
       
        font-size: 30px;
    }
   
    #shopping {
       
        margin-top: 20px;
        
    }
    .menu p{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-style: 5px ;
        font-weight: 400;
       
        
    }
    #list-drink{
        position: relative;
        text-align: center;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .item{
        margin-bottom: 98px;
        padding: 2px;
        font-size: 12px;
    }
    
    img{    
        border-radius: 30px;
        width: 150px;
        height: 185px;
        object-fit: cover;
    }
    
    .container {
        margin: 0 auto;
        
      }
    .name-product {
   
        bottom: 80px;
        right: 2;
        font-size: 10px;
        color: black;
        font-weight: 200;

    }
    .price{
        border-width: 0;
        position: absolute;
        bottom: 50px;
        left: 20px;
        font-size: 15px;
        
    }




}

